* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 500;
  line-height: 1.64;
}

button {
  border: none;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/regular/Roboto-Regular.ttf") format("TrueType"), url("../fonts/regular/Roboto-Regular.otf") format("OpenType"), url("../fonts/regular/Roboto-Regular.woff") format("woff"), url("../fonts/regular/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/medium/Roboto-Medium.ttf") format("TrueType"), url("../fonts/medium/Roboto-Medium.otf") format("OpenType"), url("../fonts/medium/Roboto-Medium.woff") format("woff"), url("../fonts/medium/Roboto-Medium.woff2") format("woff2");
}
.header-info__button {
  width: 225px;
  height: 65px;
  margin-top: 60px;
  margin-bottom: 141px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: #34547A;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .header-info__button {
    width: 100%;
  }
  .projects-cards {
    padding: 50px 24px;
  }
}
.container {
  max-width: 1120px;
  margin-inline: auto;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 79px;
}
.navigation__list .navigation__item {
  padding-right: 50px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 1.64;
}
.navigation__list .navigation__item:last-of-type {
  padding-right: 0;
}
.navigation__list .navigation__link {
  color: #000000;
}
.navigation__list .navigation__link--active {
  color: #34547A;
}

.header {
  background-color: #EEEFF1;
}

.header-info__title {
  margin-top: 145px;
  font-size: 3rem;
}

.header-info__description {
  margin-top: 35px;
}

@media screen and (max-width: 1200px) {
  .navigation__list, .header-info {
    padding: 36px 24px 0 24px;
  }
  .navigation__list {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .navigation__list {
    justify-content: center;
  }
}
.about-me__title {
  padding-top: 112px;
  margin-bottom: 45px;
  font-size: 2rem;
  text-align: center;
  line-height: 1em;
}
.about-me__description {
  padding-bottom: 100px;
  text-align: center;
  margin-inline: auto;
}

@media screen and (max-width: 1200px) {
  .about-me {
    padding: 36px 24px 0 24px;
  }
}
.project {
  background-color: #34547A;
}
.project .projects-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0 65px;
  padding: 100px 0 100px 0;
}
.project .projects-cards .project-card {
  display: flex;
  gap: 0 20px;
  align-items: center;
}
.project .projects-cards .project-card__image {
  width: 50px;
  height: auto;
}
.project .projects-cards .project-card__info {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.project .projects-cards .project-card__info .project-card__number {
  font-size: 1.3125rem;
  font-weight: 500;
}
.project .projects-cards .project-card__info .project-card__name {
  line-height: 1.64;
}

@media screen and (max-width: 1200px) {
  .projects-cards {
    justify-content: center;
  }
}
.work {
  background-color: #EEEFF1;
  padding-bottom: 100px;
}
.work__title {
  padding-top: 100px;
  margin-bottom: 50px;
  font-size: 2rem;
  text-align: center;
  line-height: 1rem;
}
.work__description {
  margin-inline: auto;
  margin-bottom: 57px;
  text-align: center;
}
.work__video {
  max-width: 1120px;
  position: relative;
}
.work__video .work__image-video {
  width: 100%;
  height: auto;
}
.work__video .work__image-play {
  width: 9%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
  .work {
    padding: 36px 30px 50px 30px;
  }
}
.footer {
  padding-top: 50px;
  background-color: #34547A;
  color: #ffffff;
}
.footer__title {
  margin-bottom: 20px;
  font-size: 1.3125rem;
  line-height: 1rem;
}
.footer__description {
  padding-bottom: 50px;
  font-size: 0.8125rem;
  line-height: 1.64;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 36px 24px 0 24px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer__title {
    font-size: 1.5rem;
  }
  .footer__description {
    font-size: 1rem;
  }
}
.description {
  max-width: 540px;
  color: #727272;
  line-height: 1.64;
}