@use "./helpers" as *;

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/regular/Roboto-Regular.ttf') format('TrueType'),
    url('../fonts/regular/Roboto-Regular.otf') format('OpenType'),
    url('../fonts/regular/Roboto-Regular.woff') format('woff'),
    url('../fonts/regular/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/medium/Roboto-Medium.ttf') format('TrueType'),
    url('../fonts/medium/Roboto-Medium.otf') format('OpenType'),
    url('../fonts/medium/Roboto-Medium.woff') format('woff'),
    url('../fonts/medium/Roboto-Medium.woff2') format('woff2');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 500;
    line-height: 1.64;
}

button {
    border: none;
}

.description {
    max-width: 540px;
    color: $gray-dark;
    line-height: 1.64;
}


.container {
    max-width: 1120px;
    margin-inline: auto;
}
.header {
    background-color: $gray-light;
}

.header-info__title {
    margin-top: 145px;
    font-size: 3rem;
}
.header-info__description {
    margin-top: 35px;
}
.header-info__button {
    width: 225px;
    height: 65px;
    margin-top: 60px;
    margin-bottom: 141px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: $primary-color;
    color: $white;
    cursor: pointer;
}

@media (max-width: 1140px) {
    .navigation__list, .header-info, .navigation__list, .about-me, .footer {
        padding: 36px 24px 0 24px;
    }

    .work {
        padding: 36px 30px 50px 30px;
    }

    .projects-cards {
        justify-content: center;
    }
}

@media (max-width: 560px) {
    .header-info__button {
        width: 100%;
    }

    .projects-cards {
        padding: 50px 24px;
    }
}   