@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./fonts/regular/Roboto-Regular.ttf') format('TrueType'),
    url('./fonts/regular/Roboto-Regular.otf') format('OpenType'),
    url('./fonts/regular/Roboto-Regular.woff') format('woff'),
    url('./fonts/regular/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('./fonts/medium/Roboto-Medium.ttf') format('TrueType'),
    url('./fonts/medium/Roboto-Medium.otf') format('OpenType'),
    url('./fonts/medium/Roboto-Medium.woff') format('woff'),
    url('./fonts/medium/Roboto-Medium.woff2') format('woff2');
}

:root {
    --primary-color: #34547A;
    --white: #ffffff;
    --black: #000000;
    --gray-dark: #727272;
    --gray-light: #EEEFF1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto';
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 500;
    line-height: 1.64;
}

button {
    border: none;
}

.description {
    width: 540px;
    color: var(--gray-dark);
    line-height: 1.64;
}


.container {
    width: 1120px;
    margin-inline: auto;
}
.header {
    background-color: var(--gray-light);
}

.navigation__list {
    display: flex;
    padding-top: 79px;
}
.navigation__item {
    padding-right: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1.64;
}
.navigation__item:last-of-type {
    padding-right: 0;
}
.navigation__link {
    color: var(--black);
}
.navigation__link--active {
    color: var(--primary-color);
}

.header-info__title {
    margin-top: 145px;
    font-size: 3rem;
}
.header-info__description {
    margin-top: 35px;
}
.header-info__button {
    width: 225px;
    height: 65px;
    margin-top: 60px;
    margin-bottom: 141px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}

.about-me__title {
    padding-top: 112px;
    margin-bottom: 45px;
    font-size: 2rem;
    text-align: center;
    line-height: 1em;
}
.about-me__description {
    padding-bottom: 100px;
    text-align: center;
    margin-inline: auto;
}

.project {
    background-color: var(--primary-color);
}
.projects-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 0 65px;
    padding: 100px 0 100px 0;
}
.project-card {
    display: flex;
    gap: 0 20px;
    align-items: center;
}
.project-card__image {
    width: 50px;
    height: auto;
}
.project-card__info {
    display: flex;
    flex-direction: column;
    color: var(--white);
}
.project-card__number {
    font-size: 1.3125rem;
    font-weight: 500;
}
.project-card__name {
    line-height: 1.64;
}

.work {
    background-color: var(--gray-light);
    padding-bottom: 100px;
}
.work__title {
    padding-top: 100px;
    margin-bottom: 50px;
    font-size: 2rem;
    text-align: center;
    line-height: 1rem;
}
.work__description {
    margin-inline: auto;
    margin-bottom: 57px;
    text-align: center;
}
.work__video {
    position: relative;
}
.work__image-video {
    width: 1120px;
    height: auto;
}
.work__image-play {
    width: 100px;
    height: auto;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
}

.footer {
    padding-top: 50px;
    background-color: var(--primary-color);
    color: var(--white);
}
.footer__title {
    margin-bottom: 20px;
    font-size: 1.3125rem;
    line-height: 1rem;
}
.footer__description {
    padding-bottom: 50px;
    font-size: 0.8125rem;
    line-height: 1.64;
}