@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/regular/Roboto-Regular.ttf') format('TrueType'),
    url('../fonts/regular/Roboto-Regular.otf') format('OpenType'),
    url('../fonts/regular/Roboto-Regular.woff') format('woff'),
    url('../fonts/regular/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/medium/Roboto-Medium.ttf') format('TrueType'),
    url('../fonts/medium/Roboto-Medium.otf') format('OpenType'),
    url('../fonts/medium/Roboto-Medium.woff') format('woff'),
    url('../fonts/medium/Roboto-Medium.woff2') format('woff2');
}