$primary-color: #34547A;
$white: #ffffff;
$black: #000000;
$gray-dark: #727272;
$gray-light: #EEEFF1;
$pixel-size: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
