@use "../base/variables" as *;
@use "../base/mixins" as *;

.project {
    background-color: $primary-color;

    .projects-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 0 65px;
        padding: 100px 0 100px 0;

        .project-card {
            display: flex;
            gap: 0 20px;
            align-items: center;

            &__image {
                width: 50px;
                height: auto;
            }

            &__info {
                display: flex;
                flex-direction: column;
                color: $white;

                .project-card__number {
                    font-size: 1.3125rem;
                    font-weight: 500;
                }
                .project-card__name {
                    line-height: 1.64;
                }
            }
        }
    }
}


@include media-down(xl) {
    .projects-cards {
        justify-content: center;
    }
}