@use "variables" as *;
.footer {
    padding-top: 50px;
    background-color: $primary-color;
    color: $white;

    &__title {
        margin-bottom: 20px;
        font-size: 1.3125rem;
        line-height: 1rem;
    }

    &__description {
        padding-bottom: 50px;
        font-size: 0.8125rem;
        line-height: 1.64;
    }
}