@use "variables" as *;

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 79px;

    .navigation__item {
        padding-right: 50px;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        line-height: 1.64;

        &:last-of-type {
            padding-right: 0;
        }
    }

    .navigation__link {
        color: $black;
    }

    .navigation__link--active {
        color: $primary-color;
    }
}